.container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;

}
.image {
    width: 200px;
}

.text-container {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    align-items: center;
    margin: 2px;
}

.cat {
    text-align: center;
}